.home {
	padding: 20px;
	min-height: 100%;
	width: 100%;
}

.cardHeader {
  padding: 16px;
}

.cardBody {
  padding: 16px;
}

.buttonRow {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	height: 20%;
}
